<div class="pure-menu pure-menu-horizontal is-center">
  <ul class="pure-menu-list" id="tabs">
    <li class="pure-menu-item" onclick="openTab('find-help-panel')">
      <input id="tab-seek-help" type="radio" name="tabs" checked hidden>

      <label for="tab-seek-help">
        <a class="pure-menu-link">Seek Help</a>
      </label>
    </li>

    <li class="pure-menu-item" onclick="openTab('offer-help-panel')">
      <input id="tab-offer-help" type="radio" name="tabs" hidden>

      <label for="tab-offer-help">
        <a class="pure-menu-link">Offer Help</a>
      </label>
    </li>
  </ul>
</div>
