<header>
  <h2 class="content-head">Sorry we need to verify your account</h2>
</header>

<div class="content">
  <p>Why this important to us</p>
  <p>Bla Bla Bla</p>
  <button class="pure-button">Verify</button>
</div>
